<div class='row mt-4'>
  <div class='col-md-6'>
    <div class='form-group'>
      <label for='title'>
        Blog Title:
      </label>
      <input class='form-control' type='text' id='title' />
    </div>

    <div class='mb-3'>
      <label for='description'>
        What's on your mind?
      </label>
      <textarea class='form-control' type='text' id='description'></textarea>
    </div>

    <div class='mb-3'>
      <label for='blogg-date'>
        Date:
      </label>
      <input class='form-control' type='text' id='blog-date' />
    </div>

    <div class='form-group'>
      <button
        type='submit'
        type='button'
        class='btn-md button-56 bloggy-form submit-btn'
        id='myBtn'
        role='button'
      >
        Create
      </button>
      <p class='error-text'>
      </p>
    </div>
  </div>
</div>