/* Universal Selector */
* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  /* declare a variable with `--` syntax */
  --green: #7bb397;
  --pink: #fee6e3;
  --light: #fff;
  --warning: #b84e74;
  --purple: #310762;
  --radius: 50px;
  --center: center;
}

body {
  position: relative;
  font-family: 'Mukta', sans-serif;
  font-size: 20px;

  background: rgb(7, 98, 31);
  background: linear-gradient(
    180deg,
    rgba(7, 98, 31, 1) 0%,
    rgba(123, 179, 151, 1) 52%,
    rgba(202, 255, 221, 1) 100%
  );
}

header {
  background-color: black;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3,
.header-box {
  margin: 20;
  padding: 20;
  position: relative;
  width: 220px;
  height: 80px;
  background: var(--green);
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: black;
  box-shadow: 20px 20px var(--pink);
}

h4 {
  text-decoration: underline;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-style: italic;
  font-variant: normal;
}

a {
  color: black;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 20px;
  text-decoration: none;
}

a:hover,
#logout:hover {
  color: var(--pink);
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}
footer {
  margin: 20px;
  font-size: 18px;
  text-align: center;
  height: 50px;
  border-top: black 2px solid;
}

hr {
  height: 2px;
  background-color: black;
  width: 50%;
  margin: auto;
}

/* ID Selectors */
#header-links,
#logout {
  color: var(--pink);
  background-color: black;
  letter-spacing: 0.05em;
}

#header-links:hover {
  color: var(--pink);
  text-shadow: 2px 2px 0px grey;
}

/* Class Selectors */
.button-56 {
  margin: 5px;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-56 {
  color: #111;
  background-color: var(--pink);
  border: 2px solid var(--pink);
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: var(--pink);
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* .btn:hover {
  background-color: var(--light);
  color: black;
}

.btn-light:hover {
  background-color: black;
  color: var(--light);
} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.cloudinary-button {
  background-color: black;
}

.container {
  max-width: 2000px;
}

.cloudinary-button {
  background-color: black;
}

.opportunity {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* .center-text {
  max-width: 50%;
  margin-left: 200px;
} */
.seperator {
  padding: 20px;
}

.input-error {
  border: 4px var(--warning) solid;
}
.error-text {
  color: var(--warning);
  font-size: bold;
  font-weight: bold;
  letter-spacing: 1px;
  /* text-shadow: 1px 1px 1px black; */
  margin: 20px;
}
.comment-text {
  font-family: 'Space Grotesk', sans-serif;
}
.card-header {
  background-color: var(--purple);
  color: var(--pink);
}
.card-header:hover {
  color: var(--green);
}
